  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" ng-repeat-start="like in likes">
        <a ng-href="{{like.videosrc}}" download="{{like.videosrc}}"><img ng-src = "{{like.imgsrc}}" class="img-responsive"></a>
        <button class="btn btn-default" ng-click="likePost(like)">Like</button>
        <button class="btn btn-default" ng-click="dislikePost(like)">Dislike</button>
        <a ng-href='{{"http://"+like.blog+".tumblr.com/post/"+like.id}}'>{{"http://"+like.blog+".tumblr.com"}}</a>
      </div>
      <div class="clearfix visible-xs-block" ng-if="$index%2==1"></div>
      <div class="clearfix visible-sm-block hiddden-xs-block" ng-if="$index%3==2"></div>
      <div class="clearfix visible-md-block visible-lg-block hidden-sm-block hidden-xs-block" ng-if="$index%4==3"></div>
      <div class="clearfix" ng-if="$index%4==3"></div>
      <div ng-repeat-end=""></div>
    </div>
  </div>