<div class="container">
  <button class="btn btn-primary" ng-click="newLoadSimilar()">Load Similar</button>
  <button class="btn btn-default" ng-click="saveLocal()">Save Similar</button> <br>
  <p ng-if="LikedPosts.length > 0">Pendentes: {{LikedPosts.length}}</p>
  <table class="table-striped table-condensed">
    <thead>
      <tr>
        <td>Blog Name</td>
        <td>Perc</td>
        <td>Qtd</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="blog in similar|orderBy:'-count'|limitTo:100">
        <td><a ng-href="{{blog.url}}">{{blog.name}}</a></td>
        <td>{{blog.percent*100|number:2}}</td>
        <td>{{blog.count}}</td>
        <td><button class="btn" ng-click="navigate(blog.name)">View</button></td>
      </tr>
    </tbody>
  </table>
</div>